:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
}

html {
  /* 16px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

.grid {
  width: 93em;
  max-width: 100%;
  margin: 0 auto;
  padding: 4px;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.header__border-right {
  border-right: 1px solid #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pd-4 {
  padding: 4px;
}
.icon {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
}
.ml-4 {
  margin-left: 4px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.br-50 {
  border-radius: 50% !important;
}