/* PC */
@media (min-width: 1024px) {
  .home-product>.col {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .header {
    height: 88px;
  }

  .header-search__icon-list {
    display: flex;
  }

  .header-with-search {
    margin-top: 12px;
  }

  .header-search__select {
    display: none;
  }

  .header-shop__cart {
    position: fixed;
    top: 88px;
    left: 0;
    width: 100%;
    padding: 0 calc((100% - 664px)/2);
  }

  .header-shop__cart::before {
    display: none;
  }

  .header-shop__cart .header-shop__selected-cart {
    position: absolute;
    top: calc(100% + 6px);
    right: -16px;
    box-shadow: 0 1px 8px #af9393;
    width: 68vh;
    max-height: 40vh;
    background-color: var(--white-color);
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.3s;
  }

  .header-shop__selected-cart {
    max-height: 30vh;
  }

  .header-shop-selected-cart__content span {
    padding: 0 84px 0 28px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1022px) {
  .hide-on-tablet {
    display: none;
  }

  .container {
    margin-top: 88px;
  }

  .header-search__icon-list {
    display: block;
    align-items: center;
    line-height: 30px;
    color: #fff;
    font-size: 2rem;
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }

  .header-shop-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    position: relative;
    margin-left: 22px;
    right: 0;
    width: 96px;
  }

  .header-shop-cart__user {
    display: inline-block;
  }

  .header-shop-cart__user img {
    display: block;
    width: 30px;
    height: 28px;
  }

  .header-search__history {
    width: calc(100% - 63px);
  }

  .home-product__item {
    height: 97%;
  }

  .header-shop-selected-cart__text {
    right: 16px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  .pd-0-mobile {
    padding-top: 0 !important;
  }

  .header {
    height: 60px;
  }

  .header-search__icon-list {
    display: block;
    align-items: center;
    line-height: 30px;
    color: #fff;
    font-size: 2rem;
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }

  .header-shop-cart {
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    right: 10px;
    width: 86px;
    order: 2;
  }

  .header-with-search {
    margin-left: 12px;
    margin-right: 12px;
  }

  .header__search {
    order: 1;
    margin-right: 20px;
  }

  .header-shop-cart__user {
    display: block;
    order: 3;
    margin-left: 8px;
  }

  .header-search__icon-list {
    display: none;
  }

  .header-shop-cart__user {
    display: inline-block;
  }

  .header-shop-cart__user img {
    display: block;
    width: 30px;
    height: 28px;
  }

  .header-search__button {
    width: 14px;
    height: 14px;
    background-color: var(--white-color);
    display: block;
    border-radius: 0;
    cursor: pointer;
    margin: 0 10px;
    position: absolute;
    left: 0;
    top: 8px;
  }

  .header-search__button i {
    color: #7e7b7b;
    font-size: 1.2rem;
  }

  .header-search__wrap {
    display: flex;
    flex: 1;
    padding: 0 1.425rem;
    margin-left: 16px;
  }

  .header-search__item-top {
    height: 34px;
  }

  .header-search__history {
    width: 100%;
  }

  .home-product__item {
    height: 97%;
  }

  .header-shop__cart {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .home-product__item {
    height: 99%;
  }

  .home-product-item__address {
    height: 22%;
  }
  .home-product {
    margin: 0;
  }
}